html,
body {
  height: 100%;
  width: 100%;
  color: #fff;
  z-index: -99999;
  font-family: 'Nunito', sans-serif;
  background: black;
}

section{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
}

.background-photo {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: url(images/denver.jpg) no-repeat;
  background-position: center;
  position: fixed;
  filter: blur(5px);
}

.header {
  width: 50%;
  margin: auto;
  font-size: 42px;
  background-color: #181818;
  opacity: 0.9;
  padding: 5px;
  text-align: center;
}

.jon-photo {
  height: 200px;
  border-radius: 150px;
  position: relative;
  margin: 10px auto 0 auto;
  display: flex;
}

.about-me-div {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.about-me-paragraph {
  width: 50%;
  background-color: #181818;
  opacity: 0.9;
  padding: 5px;
  text-align: center;
}

.hello {
  margin: 10px auto 0 auto;
  width: 50%;
  font-size: 24px;
  font-weight: 700;
  background-color: #181818;
  opacity: 0.9;
  text-align: center;
  padding: 5px;
}

.projects-section {
  width: auto;
  background-color: #181818;
  opacity: 0.99;
  text-align: center;
}

.projects-section img {
  color: white;
  height: 200px;
  width: 300px;
  padding: 5px;
}

footer {
  width: 100%;
  position: absolute;
  text-align: center;
  margin-bottom: 30px;
}

footer a {
  margin-top: 30px;
  color: white;
  display: inline-block;
  text-decoration: none;
}
